.pnt-body {
  width: 1170px;
  height: 360px;
}

.pnt-contenedor {
  width: 1170px;
  height: 360px;
  background-color: #b91327;
}

.pnt-imagenes {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 30%;
  border-radius: 100%;
  border: 2px solid yellow;
  display: block;
}

#pnt-tabla {
  width: 720px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

tr {
  cursor: pointer;
}

.pnt-tabla {
  font-family: Arial;
  font-weight: bold;
  background-color: #0D6859;
}

#pnt-tabla tr:nth-child(odd) {
  background-color: #A0C55E;
}

#pnt-tabla tr:nth-child(odd):hover {
  color: black;
  background-color: #00aa00;
}

#pnt-tabla tr:nth-child(even) {
  background-color: #7AB318;
}

#pnt-tabla tr:nth-child(even):hover {
  color: black;
  background-color: #007700;
}

#pnt-top {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
}

#img-hongo {
  top: -550px;
  left: -340px;
}

#img-planta {
  top: -800px;
  left: -340px;
}

#img-mario {
  top: -1800px;
  left: 640px;
}

#pnt-btn {
  font-size: 20px;
  border-radius: 30%;
  font-family: cursive;
  position: absolute;
  border: 3px solid black;
  background: #6883DF;
  top: 300px;
  text-align: center;
  left: 560px;
}
