.creditos_body{
    width: 660px;
    height: 310px;
    background-color: #6883DF;

    .creditos_imagenes{
        position: absolute;
    }
    
    .creditos_imagenes_titulo{
        width: 55px;
        height: 75px;
        padding-top: 1%;
        left: 145px;
    }
    .creditos_titulo{
        margin-left: 43%;
        padding-top: 1%;
        font-family: fantasy;
    }
    .creditos_contenido{
        margin-top: 4%;
        position:relative;
    }
    .creditos_imagenes_piraña{
        width: 100px;
        height: 174px;
        left: 9%;
        top: 48px;
    }
    .creditos_imagenes_estrella{
        width: 165px;
        height: 199px;
        left: 490px;
    }
    .creditos_texto_central{
        position: relative;
        margin-left: 32%;
        padding-right: 30%;
        text-align: center;
    }
    
    .creditos_imagenes_goomba{
        width: 50px;
        height: 55px;
        left: 420px;
    }
    .creditos_botones{
        position:relative;
        border-radius: 30%;
        font-family: cursive;
        font-size: 15px;
        background-color: #B91327;
        transition-duration: 0.4s;
        left: 48%;
    }
    .creditos_botones:hover{
        background-color: #EE596A;
    }
    .creditos_imagenes_moneda{
        width: 42px;
        height: 42px;
        left: 333px;
        top: 292px;
    }
}