$index_color_fondo: #6883df;
.index_body {
  background-color: rgb(255, 255, 255);

  .index_button {
    width: 90px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 30%;
    font-family: cursive;
  }
  .index_img{
    position: fixed;
  }
  #index_div_images {
    position: absolute;
    width: 750px;
    height: 400px;
    background: $index_color_fondo;

    #index_img_titulo {
      width: 300px;
      height: 150px;
      left: 440px;
    }
    #index_img_hongo {
      width: 70px;
      height: 90px;
      left: 350px;
      top: 50px;
    }
    #index_img_mario {
      width: 80px;
      height: 100px;
      left: 520px;
      top: 190px;
    }
    #index_img_rex {
      width: 80px;
      height: 100px;
      left: 650px;
      top: 190px;
    }
    #index_img_nube {
      width: 80px;
      height: 100px;
      left: 760px;
      top: 50px;
    }
  }
  #index_div_buttons {
    width: 100px;
    height: 170px;
    position: relative;
    left: 330px;
    top: 190px;
  }
}
