.log-body{
    width: 1170px;
    height: 360px;
    background-color: #EE5964;
}



.log-imgs{
position: absolute;
width: 120px;
height: 120px;
  
}

.log-centro{

    position: absolute;
    left: 480px;
    top: 60px;
  
  
  }

.log-btn{
    font-size: 20px;
    border-radius: 30%;
    font-family: cursive;
    position: relative;
    border: 3px solid black;
    background: #6883DF;

  

}
.log-btn:hover{
    opacity: 50%;
}
  

#log-titulo{

  
  position: relative;
  
  font-family: fantasy;

  font-size: 50px;

}

#log-friends{
    top: 20px;
    left: 20px;
}

#log-estrella{
    top: 250px;
    left: 20px;
}

#log-gaming{
    top: 250px;
    left: 1030px;
}

#log-login{
    top: 20px;
    left: 1030px;
}

#log-quest{
    top: 120px;
    left: 800px;
}

#log-seta{
    top: 120px;
    left: 250px;
}