.pnt-body {
    width: 660px;
    height: 310px;
  }
  
.pnt-contenedor{
      width: 660px;
      height: 310px;
      background-color: #b91327;
  
  }

.pnt-imagenes{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid yellow;
    display: block;

}

#pnt-tabla{
    width:420px;
    margin:0 auto;
    color:white;
    text-align:center;
  }
tr{
    cursor:pointer;
  }
  .pnt-tabla{
    font-family:Arial;
    font-weight:bold;
    background-color:#0D6859;
  }

  #pnt-tabla tr:nth-child(odd) {
    background-color: #6883DF;
  }
  
  #pnt-tabla tr:nth-child(odd):hover {
    color: black;
    background-color: #355AD4;
  }
  
  #pnt-tabla tr:nth-child(even) {
    background-color: #2AA3A8;
  }
  
  #pnt-tabla tr:nth-child(even):hover {
    color: black;
    background-color: #192F76;
  }
  
  #pnt-top
  {
      text-align: center;
      padding-top:1%;
  
      font-family: fantasy;
  
      // font-size: 50px;
  
      
  }

  #img-hongo{
      top: 30px;
    left: 19px;
     
  }
  #img-planta{
    top: 215px;
    left: 19px; 
     
  }

  #img-mario{
   
    top: 125px;
    left: 558px;
  }

  #pnt-btn{
      font-size: 20px;
      border-radius: 30%;
      font-family: cursive;
      position: relative;
      border: 3px solid black;
      background: #6883DF;
      top: 180px;
      text-align: center;
      left: 304px;
  }
  #pnt-btn:hover{
    opacity: 50%;
  }
  